.code-container {
  width: 90%;
  margin: 1rem auto;
}

.code-display {
  background: #3d5a80;
  color: #ededed;
  line-height: 1.3;
  padding: 2rem;
  margin-top: 0.5rem;
}

.code-btn {
  margin-left: auto;
}
