.color-stop-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-stop {
  width: fit-content;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
}

.delete-btn {
  height: unset;
  background: #ba1f33;
  color: var(--color-light-soft);
  align-self: stretch;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0;
  margin: 5px;
  width: 0px;
  height: inherit;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s var(--base-ease);
}

.with-btn:hover .delete-btn {
  visibility: visible;
  opacity: 1;
  width: 22px;
}

.delete-btn:hover {
  border: none;
}
