.color-stop-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-stop {
  width: fit-content;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #242424;
  border-radius: 3px;
}

.delete-btn {
  position: absolute;
  right: -15%;
  background: #a30000;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 3px 7px;
  border-radius: 50%;
  margin: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s var(--base-ease);
}

.with-btn:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}
