.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem 0;
  background: #f8f9fa;
  color: #242424;
}

.tab-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #242424;
}

.tabs-btn {
  margin-left: 10px;
}
