.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--color-light);
  color: var(--color-dark);
}

header {
  width: 90%;
  color: var(--color-dark);
  font-size: 0.6rem;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 0 2rem;
}

.tab-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark);
}

.tabs-btn {
  margin-left: 10px;
}
