.display-controls {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn-margin {
  margin-left: 2rem;
  border-radius: 3px;
}
